@import "../vendor/tyrian/tyrian";

@import "about";
@import "arches";
@import "categories";
@import "index";
@import "keywords";
@import "misc";
@import "packages";
@import "sprockets-octicons";
@import "useflags";

@import "../vendor/stylesheets/jquery.typeahead.min";

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 215px;
}
footer {
  position: absolute;
  margin-top: 40px;
  bottom: 0;
  width: 100%;
}