<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/"><%= t :home %></a></li>
  <li class="breadcrumb-item"><%= link_to t(:use_flags), useflags_path %></li>
  <li class="breadcrumb-item active"><%= params[:id] %></li>
</ol>
