<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/"><%= t :home %></a></li>
  <li class="breadcrumb-item"><%= link_to t(:use_flags), useflags_path %></li>
  <li class="breadcrumb-item active">Search</li>
</ol>

<h1>USE Flag Search Results <small>for <%= params[:q] %></small></h1>

<div class="card">
  <div class="card-header">
    Results
  </div>
  <div class="list-group">
    <%= render partial: 'useflag_result_row', collection: @flags, as: 'useflag' %>
  </div>
</div>
