.kk-keyword-stable {
  background-color: #DFF0D8;
  color: #3C7950;
}

.kk-keyword-testing {
  background-color: #FCF8E3;
  color: #8A7150;
}

.kk-keyword-unavailable {
  background-color: #d5d5d5;
  color: #666;
}

.kk-keyword-masked {
  background-color: #EF9A9A;
  color: #B71C1C;
}

.kk-keyword-unknown {
  background-color: #fafafa;
  color: #333;
}
